# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sql
*.sqlite3
db.sqlite3
# If you have additional SQLite databases, ignore them too
*.db
*.sqlite3

# Ignore virtual environments
.env
.env.*
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore IDE project files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore macOS system files
.DS_Store
